a {
    color: #ac4142;
}

/* hyperlink buttons */
.btn-navigation {
  color: #ac4142;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
}

.btn-navigation:hover {
  color: #fff;
  background-color: #ac4142;
  border-color: #ac4142;
}

.btn-navigation:focus, .btn-navigation.focus, .btn-navigation.active {
  box-shadow: 0 0 0 3px rgba(220, 53, 69, 0.5);
}

.btn-navigation.disabled, .btn-navigation:disabled {
  color: #ac4142;
  background-color: transparent;
}

.btn-navigation:active, .btn-navigation.active,
.show > .btn-navigation.dropdown-toggle {
  color: #fff;
  background-color: #ac4142;
  border-color: #ac4142;
}